<li><%= context_menu_link l(:button_kanbanery_push), {:controller => 'kanbanery', :action => 'push', :ids => @issues.collect(&:id), :back_url => @back},
                                                     :class => 'icon-move', :disabled => !User.current.allowed_to?(:push_to_kanbanery, @projects) %></li>
